# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local folders
/BRIEF
/old model
/api
/cache
/server
/static
/types
/.vscode

# Firebase
dermaviosion-ai-firebase-adminsdk-hgsd9-a2c65aa3b8.json

# Build files
react-loadable-manifest.json
build-manifest.json
app-build-manifest.json

# Cloud deployment
.gcloudignore
requirements.txt
runtime.txt

# Backup files
backup_*.json
BACKUP*.TXT
LOGGS FROM CLOUD

# Documentation and scripts
*.ps1
project structure.txt
project_files_description.txt
COMPONENT_evaluation.txt
pages_against respective component_evluation.txt
PLAN.TXT
conversation for changes since last tested.txt

# Config files
firebaserules.txt
firstore_collections.txt
model deployment output.txt

# Temporary and cache directories
/trace
/__pycache__
*.pyc

# Local development
.env
*.log